.lesson-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background: linear-gradient(180deg, #7afa89 0%, #6cd8af 50%, #5febf5 100%);
    box-sizing: border-box;
}
  
.lesson-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px; 
}
  
.lesson-box {
    background: white;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    text-align: center;
    padding: 1rem;
    font-family: 'Press Start 2P', serif;
}
  
.lesson-img {
    width: 70%;
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 1rem;
}
  
.lesson-title {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    letter-spacing: 1px;
}